[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kafka-python = "*"
jupyter = "*"
aiokafka = "*"
mmh3 = "*"
bytebuffer = "*"
avro = "*"
avro-to-python = "*"
markupsafe = "==2.0.1"
confluent-kafka = "*"
requests = "*"
fastavro = "*"

[dev-packages]

[requires]
python_version = "3.9"
